<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style/output.css" rel="stylesheet">
  <link href="style/stylej.css" rel="stylesheet">
  <script >
 
  </script>
</head>
<body>
    <div class="grid grid-rows-2 grid-flow-col gap-2">
        <div class="font-semibold bg-nav tracking-tight" id="nav"><span id="nav-text">TrainLab Compiler</span></div>

        <div>
            <!---below nav bar-->
            <div id="buttons" class="flex">
                <button id="run-btn" >Run</button>
                <span class="dropdown">
                    <button class="dropbtn flex"><span id="Menu_drop">Java</span>
                        <img src="img/icons8-java-250.png" alt="python" id="python1_icon">
                    </button>
                    <div class="dropdown-content ">
                      <div ><a href="HTML_page.html" style="font-weight: 500;"class="flex">HTML
                        <img src="img/icons8-html-5-250.png" alt="python" id="python_icon"></a>
                    </div>
                      
                      <div><a href="Python.html"style="font-weight: 500;" class="flex">Python
                        <img src="img/icons8-python-128.png" alt="python" id="python_icon"></a>
                    </div>
                    </div>
                  </span>   
                  <form action="/shutdown" method="post">
                    <button id="shut-btn" >Shut Down</button>
                </form>           
            </div>

        </div>
        

    </div>
    <div class="grid grid-cols-2 gap-3" id="code">
      <form id="myForm" name="myForm" action="/runJava" method="post" target="Output">
        <div id="Java_code"><span id="JAVA">JAVA</span>
            <div>
                <textarea id="java_input" name="java" class="w-fit h-72 placeholder-ph "  placeholder="JAVA Code"  required>class sample{
//type here
}
                </textarea>
            </div>            
        </div>
      </form>
        <div id="Code_Output">
            <span style="color: #86868B;font-weight: 600;padding-left: 2%;">OUTPUT</span>
            <div>
                <iframe id="Output"  name="Output"></iframe>

            </div>

        </div>        
    </div>
    <script>
      document.getElementById('run-btn').addEventListener('click', function() {
      //console.log('button is clicked');
      document.getElementById('myForm').submit();
  });
  </script>
</body>
</html>