<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="style/output.css" rel="stylesheet">
  <link href="style/stylep.css" rel="stylesheet">
  <script >
  </script>
</head>
<body>
    <div class="grid grid-rows-2 grid-flow-col gap-2">
        <div class="font-semibold bg-nav tracking-tight" id="nav"><span id="nav-text">TrainLab Compiler</span></div>

        <div>
            <div id="buttons" class="flex">
                <button id="run-btn">Run</button> 
                <span class="dropdown">
                    <button class="dropbtn flex"><span id="Menu_drop">Python</span>
                        <img src="img/icons8-python-128.png" alt="python" id="python1_icon">
                    </button>
                    <div class="dropdown-content ">
                    <div ><a href="HTML_page.html" style="font-weight: 500;"class="flex">HTML
                        <img src="img/icons8-html-5-250.png" alt="python" id="python_icon"></a>
                    </div>
                    
                    <div><a href="Java.html"style="font-weight: 500;" class="flex">Java
                        <img src="img/icons8-java-250.png" alt="python" id="python_icon"></a>
                    </div>
                    </div>
                </span> 
                <form action="/shutdown" method="post">
                    <button id="shut-btn" >Shut Down</button>
                </form>     
            </div>

        </div>
        

    </div>
    <div class="grid grid-cols-2 gap-3" id="code">
        <form id="myForm" name="myForm" action="/runPython" method="post" target="Output">
        <div id="Python_code"><span id="Python">Python</span>
            <div>
                <textarea id="python_input" name="python" class="w-fit h-72 placeholder-ph "  placeholder="Python Code" required>#type your code here</textarea>
            </div>            
        </div>
        </form>
        <div id="Code_Output">
            <span style="color: #86868B;font-weight: 600;padding-left: 2%;">OUTPUT</span>
            <div>
                <iframe id="Output"  name="Output"></iframe>
            </div>
        </div>        
    </div>
    <script>
        document.getElementById('run-btn').addEventListener('click', function() {
        //console.log('button is clicked');
        document.getElementById('myForm').submit();
    });
    </script>
</body>
</html>